header, nav, main, section, footer {
    width:1024px;
    height: 1562px;
}

.view{
    width: 1024px;
    height: 1562px;
    border: 1px solid rgba(0,0,0,0.1);
 
 }
button {
    cursor: pointer;
}

header {
    height:114px;
}

header > #logo {
    width: 96px;
    height: 88px;
    margin-left:27px;
    margin-top:13px;
}
nav {
    height: 100px;
    display: flex;
  
}
nav > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

a {
    text-decoration: none;
}

.STEP01 {
    background-color: #CBCBCB;
    border-radius: 99px;
    width: 43.5px;
    height: 15.61px;
    color: #fff;
    font-size: 9px;
    text-align: center;
}
.navname{
    font-size:30px;
    color: #CACACA;
}
/*
nav a:focus {
    color:#F20C93;
}
*/
nav #leftdiv{
    background-color: #fff;
}

nav #STEP{
    background-color: #F20C93;
    color: #fff;
}
nav #leftdiv > .navname{
    color:#F20C93
}

nav #rightdiv {
    background-color: #f8f8f8;
}

main {
    height: 833px;
}

#maindiv {
    display: flex;
    height: 165px;
    padding-bottom: 63px;
}
#p1 {
    font-size: 35px;
}
#div1, #div2{
    flex:1;
}
#div1 {
    display :flex;
    justify-content: center;
    align-items: center;
    gap:20px;

}
#div2 {
    display:flex;
    flex-direction: column;
}
#btn {
    width:122px;
    height:122px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #D2D2D2;
}

#p2 {
    font-size: 27px;
    color: #F20C93;
    margin: 0px;
}
#p3 {
    font-size: 18px;
    color: #A1A1A1;
    margin: 0px;
}
section {
    height: 282px;
}

section > div {
    height: 100px;
    font-size:30px;
}

#sectiondiv1 {
    color:#F20C93;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 47px;
    padding-right: 66px;
}

#sectiondiv2{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between
}

#sectiondiv2 > span:first-child{
    padding-left: 49px;
}

#sectiondiv2 > span:last-child{
    padding-right: 100px;
}

footer {
    height:233px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > div {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}


footer > #footerleft > #before {
    height: 144px;
    width: 471px;
    border-radius: 99px;
    font-size: 30px;
    color: #F20C93;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
footer > #footerright > a > button {
    height: 144px;
    width: 471px;
    border-radius: 99px;
    font-size: 30px;
    color:#fff;
    background-color: #F20C93;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}
#before img {
    width: 28px;
    height: 48px;
    position: absolute;
    left:87px;
}



