<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.my.kiosk.stock.repository.StockMapper">
 <select id="selectStockByPlace" resultType="com.my.kiosk.stock.classes.Stock">
        SELECT * FROM stock
        WHERE place_id = #{placeId}
    </select>

</mapper>